#meteo {
  min-height: 800px;
  display: flex;
  align-items: center;
  margin-top: 11rem;
  flex-direction: column;
  input {
    color: $background-dark;
    width: 250px;
    &::placeholder {
      color: $background-dark;
    }
  }
  .container-meteo {
    padding: 0px 30px;
    position: relative;
    margin-top: 3rem;
    background: hsl(196, 96%, 32%);
    border-radius: 10px;
    width: 75%;
    min-height: 130px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .container-left-meteo {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 35px;
      font-size: 1.4rem;
      .api-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .container-right-meteo {
      display: flex;
      align-items: center;
      h3 {
        font-size: 5rem;
      }
      p {
        padding-right: 50px;
        font-size: 1rem;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    button {
      position: relative;
      margin-top: 0.7rem;
      color: $background-dark;
      padding: 4px 15px;
      background: white;
      font-size: 1.2rem;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: red;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.3s;
      }
      &:hover:before {
        width: 100%;
      }
    }
  }
}

.loading-api {
  height: 100vh;
  @extend %flex-center;
}
