#portfolio {
  .container-projects {
    @extend %flex-center;
    flex-wrap: wrap;
    margin-top: 150px;
    gap: 50px;
    .project {
      background: red;
      width: 40px;
      height: 60px;
    }
  }
}
