.light {
  background: hsl(43, 61%, 84%);
  color: $background-dark;
  select {
    color: $background-dark;
  }
  .color-button {
    background: $background-dark;
    .btn-moon {
      left: 100%;
      box-shadow: 1.5rem 1.5rem 0 0 hsl(45, 100%, 51%);
    }
  }
  .scrollOrigin {
    a:not(.link-active) {
      color: $background-dark;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(
        to right,
        $selected-color,
        $selected-color 50%,
        $background-dark 50%
      );
    }
  }
}
