/////////////////////////  Paramètre généraux  /////////////////////////

.fade-in {
  animation: fade-out 4s ease-out;
  opacity: 1;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 62.5%;
  width: 100vw;
  overflow-x: hidden;
  background-color: hsl(233, 14%, 11%);
  transition: 0.6s ease-out;
}

*::selection {
  background-color: $selected-color;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 5%, 15%);
  border-radius: 8vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: radial-gradient(
    circle,
    hsl(49, 90%, 48%) 5%,
    hsl(42, 85%, 52%) 16%,
    hsl(348, 97%, 63%) 100%
  );
  border: 0.25em solid hsl(120, 7%, 26%);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(
    circle,
    hsl(230, 96%, 62%) 0%,
    hsl(348, 97%, 63%) 100%
  );
}

.access-nav {
  position: absolute;
  z-index: 14;
  top: -10em;
  width: 100vw;
}

.access-nav a {
  font-weight: bold;
  left: 0;
  @extend %flex-center;
  text-transform: uppercase;
  right: 0;
  position: absolute;
  padding: 0.5rem 0;
  text-decoration: none;
}

.access-nav a:focus,
.access-nav a:hover {
  top: 10em;
}

button,
select,
option {
  all: unset;
}

a {
  text-decoration: none;
}

* {
  color: $light-color-text;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid hsl(0, 12%, 93%);
  border-radius: 50%;
  position: fixed;
  top: -30px;
  left: -30px;
  pointer-events: none;
  mix-blend-mode: difference;
  animation: Cursor 0.7s infinite alternate;
  z-index: 15;
  &::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid hsl(0, 0%, 50%);
    border-radius: 50%;
    opacity: 0.5;
    top: -9px;
    left: -9px;
    animation: CursorAfter 0.7s infinite alternate;
    box-sizing: content-box;
    mix-blend-mode: difference;
  }
}

/////////////////////////  Loader  /////////////////////////

#Loader {
  z-index: 500;
  cursor: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  background: hsl(0, 0%, 13%);
  @extend %flex-center;
  *::selection {
    background: transparent;
  }
}

/////////////////////////  Barre de navigation  /////////////////////////

header {
  .progressBar {
    background: radial-gradient(
      circle,
      hsl(49, 90%, 48%) 5%,
      hsl(42, 85%, 52%) 16%,
      hsl(348, 97%, 63%) 100%
    );
    height: 3.5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }
  nav {
    @extend %flex-center;
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 1;
    font-family: $font-nav, sans-serif, "Gill Sans", "Trebuchet MS";
    text-transform: uppercase;
    gap: 15px;
    .color-button {
      position: relative;
      margin-right: 90px;
      width: 90px;
      height: 40px;
      border-radius: 40px;
      transition: all 0.6s ease-out;
      .btn-moon {
        position: absolute;
        left: 18%;
        top: 14%;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        box-shadow: 0.42rem 0.42rem 0 0 hsl(45, 100%, 51%);
        transform: rotate(135deg);
        transition: all 0.6s ease-out;
      }
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        animation: ColorPulse 1.8s ease-out infinite;
      }
    }

    ul {
      @extend %flex-center;
      list-style: none;
      gap: 50px;
      margin-left: 1.5rem;
      li {
        opacity: 0;
      }
      a {
        position: relative;
        color: $light-color-text;
        font-size: $nav-link-size;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(
          to right,
          $selected-color,
          $selected-color 50%,
          $light-color-text 50%
        );
        background-size: 200% 100%;
        background-position: 100%;
        &:not(.english-btn):hover {
          transition: all 0.5s cubic-bezier(0, 0, 0.23, 1);
          background-position: 0%;
        }
        &:not(.link-active)::before {
          content: "";
          position: absolute;
          background-color: $selected-color;
          width: 100%;
          height: 2px;
          bottom: -5px;
          transform-origin: 100% 0;
          transform: scaleX(0);
          transition: transform 0.7s;
        }
        &:not(.link-active):hover:before {
          transform-origin: 0 100%;
          transform: scaleX(1);
        }
        &:not(.link-active)::after {
          content: "";
          position: absolute;
          background-color: hsl(211, 50%, 48%);
          z-index: -1;
          width: 100%;
          height: 2px;
          bottom: -5px;
          right: 0;
          transform-origin: 100% 0;
          transform: scaleX(0);
          transition: transform 0.5s;
          transition-delay: 0.15s;
        }
        &:hover:after {
          transform-origin: 100 100%;
          transform: scaleX(1);
        }
        &:not(.link-active):active {
          background-image: none;
          -webkit-text-fill-color: hsl(177, 39%, 50%);
          font-size: 1.9rem;
          transition: all 250ms ease-in-out;
        }
        &:not(.link-active):active::before {
          background: hsl(177, 39%, 50%);
          transition: all 250ms ease-in-out;
        }
      }
      .language-select {
        @extend %flex-center;
        img {
          filter: invert(50%) sepia(90%) saturate(900%) hue-rotate(0deg)
            brightness(120%) contrast(60%);
        }
      }
    }
    #language {
      font-size: $nav-link-size;
    }
    .nav-social-links {
      margin-left: 100px;
      img {
        filter: invert(50%) sepia(90%) saturate(20%) hue-rotate(0deg)
          brightness(200%) contrast(100%);
        width: 30px;
        transition: all 0.4s ease-out;
        &:hover {
          filter: invert(50%) sepia(90%) saturate(600%) hue-rotate(0deg)
            brightness(120%) contrast(100%);
        }
      }
    }
  }
}

/////////////////////////  Footer  /////////////////////////

.container-arrow-up {
  height: 130px;
  @extend %flex-center;
  .arrow-up {
    animation: ArrowUp 1.5s linear infinite;
    img {
      width: 30px;
      filter: invert(50%) sepia(90%) saturate(20%) hue-rotate(0deg)
        brightness(200%) contrast(98%);
      transition: 0.1s ease-in-out;
      &:hover {
        filter: invert(50%) sepia(90%) saturate(7000%) hue-rotate(0deg)
          brightness(200%) contrast(60%);
        transform: scale(1.3);
      }
    }
  }
}

footer {
  height: 125px;
  font-family: $font-nav, sans-serif, "Gill Sans", "Trebuchet MS";
  gap: 12px;
  .social-footer-icons {
    img {
      width: 40px;
      filter: invert(50%) sepia(90%) saturate(20%) hue-rotate(0deg)
        brightness(200%) contrast(100%);
      transition: all 0.3s ease-out;
      &:hover {
        filter: invert(50%) sepia(90%) saturate(600%) hue-rotate(0deg)
          brightness(120%) contrast(100%);
      }
    }
  }
  background: hsl(228, 12%, 8%);
  min-height: 100px;
  @extend %flex-center;
  flex-direction: column;
  .content-copyrights {
    font-size: 1.5rem;
    a {
      color: hsl(0, 0%, 98%);
      &:hover {
        color: hsl(11, 100%, 61%);
        transition: 0.4s ease-out;
      }
    }
  }
}

/////////////////////////  Classes appliquées sous conditions /////////////////////////

.link-active {
  all: unset;
  font-size: $nav-link-size;
  color: $selected-color;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-color: $selected-color;
    width: 100%;
    height: 3px;
    bottom: -5px;
    transform: scaleX(0.95);
  }
}

.expand {
  animation: CursorClick 0.5s linear;
  border: 1px solid hsl(0, 95%, 49%);
}

.reduceCursor {
  animation: none;
  transform: scale(0.65);
}

.scrollOrigin {
  background: transparent;
  height: 120px;
  top: 0;
  transition: 0.7s;
  .color-button {
    background: hsl(250, 10%, 24%);
    &::after {
      background: hsl(250, 10%, 24%);
    }
  }
}

.scrollDown {
  background: hsl(250, 10%, 24%);
  top: -150px;
  height: 70px;
  transition: 0.7s;
  .color-button {
    background: hsl(267, 43%, 16%);
    &::after {
      background: hsl(267, 43%, 16%);
    }
  }
}

.scrollTop {
  background: hsl(250, 10%, 24%);
  height: 75px;
  top: 0px;
  transition: 0.7s;
  .color-button {
    background: hsl(267, 43%, 16%);
    &::after {
      background: hsl(267, 43%, 16%);
    }
  }
}

/////////////////////////  Transitions /////////////////////////

#transition .transition-effect {
  position: absolute;
  z-index: 100;
  background: red;
  top: 0;
  width: 100vw;
  height: 100vh;
}

/////////////////////////  Animations /////////////////////////

@keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Cursor {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.4) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(180deg);
  }
}

@keyframes CursorAfter {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes CursorClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes ArrowUp {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes ColorPulse {
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

/////////////////////////  Fonts /////////////////////////

@font-face {
  font-family: "brandon_grotesqueblack";
  src: url("../../public/assets/fonts/brandon-grotesque-black-58a8a3e824392-webfont.woff2")
      format("woff2"),
    url("../../public/assets/fonts/brandon-grotesque-black-58a8a3e824392-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "404Font";
  src: url("../../public/assets/fonts/404font.woff2") format("woff2"),
    url("../../public/assets/fonts/404font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/////////////////////////  Responsive /////////////////////////

@media screen and (max-width: 1200px) {
  .hamburger-logo {
    position: relative;
    width: 50px;
    height: 50px;
    border: 3px solid $light-color-text;
    transition: all 0.6s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .burger-line {
      position: absolute;
      width: 30px;
      height: 4px;
      background-color: $light-color-text;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      transition: all 0.6s ease-out;
    }
    .burger-line:nth-child(1) {
      transform: translateY(-11px);
    }
    .burger-line:nth-child(3) {
      transform: translateY(11px);
    }
    &.active {
      left: 23%;
      z-index: 3;
      .burger-line:nth-child(2) {
        display: none;
      }
      .burger-line:nth-child(1) {
        transform: rotate(45deg);
      }
      .burger-line:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: $background-dark;
    top: 0;
    right: -1000px;
    bottom: 0;
    z-index: 2;
    width: 50vw;
    height: 100vh;
  }

  header nav ul.opennav {
    right: 0px;
  }
}
