/////  Variables  /////

$selected-color: hsl(11, 100%, 61%);
$nav-link-size: calc(1vmin + 1.2rem);
$font-nav: "brandon_grotesqueblack";
$font-title: "ranademedium";

/////  Variables site en dark color  /////

$background-dark: hsl(0, 4%, 11%);
$light-color-text: hsl(43, 60%, 83%);

/////  Variables site en light color  /////

/////  Page Accueil  /////

$radius-button-resume: 75px;

/////  Page Erreur 404  /////

$font: "404Font";
